<div class="faq">
  {% for block in section.blocks %}
    <div class="tab">
      <input type="checkbox" id="tab{{ forloop.index }}" class="tab-toggle">
      <label for="tab{{ forloop.index }}" class="tab-label">{{ block.settings.question }}</label>
      <div class="tab-content">
        <p>{{ block.settings.answer }}</p>
      </div>
    </div>
  {% endfor %}
</div>



{% schema %}
  {
    "name": "FAQ-SECTION",
    "settings": [],
    "blocks": [
      {
        "type": "text",
        "name": "Question/Answer",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "Question"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
